body {
  background-color: brown;
  margin: 0 auto;
}
#root {
  margin: 0 auto;
  font-family: serif;
  font-size: larger;
}

.red {
  color: red;
}

.blue {
  color: blue;
}
.show-hide {
  background-color: blueviolet;
  padding: 10px;
  margin: 20px 0;
  border-radius: 50px;
}

.show-hide:hover {
  background-color: aqua;
  color: black;
}
